<h1>Members</h1>
<table class="table">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Name</th>
      <th>Resume</th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <% if user.profpic.exists? %>
        <td><%= image_tag user.profpic.url(:thumb) %></td>
      <% else %>
        <td><%= image_tag '/anonymous-icon.jpg' %></td>
      <% end %>
        <td><%= link_to user.name, profile_path(user) %> </td>
        <% if user.resume.exists? %>
        <td><%= link_to 'Resume', user.resume.url %> </td>
      <% else %>
        <td>No Resume</td>
      <% end %>
    <% end %>
  </tbody>
</table> <br />
