<h1>  <%# image_tag @user.profpic.url(:thumb) unless @user.profpic.empty? %>  <%= @user.name.capitalize %>'s profile <%= link_to 'Edit Profile', edit_user_registration_path, :class => "btn btn-primary" %></h1>
<%# link_to 'Resume', @user.resume.url unless @user.resume.empty? %>
Email: <%= @user.email %>
