<div class="hero-unit">
<h1>Welcome to DISCBook</h1>
<p>Members:</p>
<%= link_to "Create Profile", new_user_registration_path, :class => "btn btn-info" %>
<p>Recruiters:</p>
<%= link_to "View Members", profiles_path, :class => "btn btn-danger" %>
